<template>
  <n-layout has-sider class="flex h-screen w-full bg-white text-black">
    <div class="w-1/2 n_container flex flex-col justify-between">
      <img
        src="../../assets/images/inone.png"
        class="w-[84px] h-[32px]"
        alt="inone icon"
      />
      <div class="h-full w-full flex justify-center items-center">
        <div class="flex flex-col gap-3 w-[400px]">
          <h3 class="text-4xl font-semibold">Добро пожаловать</h3>
          <p class="text-base font-light">Пожалуйста, введите свои данные.</p>
          <n-form size="large" ref="formRef" :model="modelRef" :rules="rules">
            <n-form-item size="large" path="phone" label="Phone">
              <n-input v-model:value="modelRef.phone"></n-input
            ></n-form-item>
            <n-form-item path="password" label="Password">
              <n-input
                v-model:value="modelRef.password"
                type="password"
              ></n-input
            ></n-form-item>

            <n-form-item>
              <n-button
                class="w-full bg-[#DC6803] text-white"
                :loading="loading"
                @click="handleFormClick"
                >Войти</n-button
              >
            </n-form-item>
          </n-form>
        </div>
      </div>
      <span>© InOne 2023</span>
    </div>
    <div class="w-1/2 bg-image"></div>
  </n-layout>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { FormInst, useMessage, useThemeVars } from "naive-ui";
import { useStore } from "@/stores";
interface ModelType {
  phone: string;
  password: string;
}
export default defineComponent({
  setup() {
    const formRef = ref<FormInst | null>(null);
    const message = useMessage();
    const loadingRef = ref(false);
    const indexStore = useStore();
    const modelRef = ref<ModelType>({
      phone: "",
      password: "",
    });
    return {
      theme: useThemeVars(),
      formRef,
      modelRef,
      rules: {
        phone: {
          required: true,
          message: "Please input your phone",
          trigger: ["input", "blur"],
        },
        password: {
          required: true,
          message: "Please input your password",
          trigger: ["input", "blur"],
        },
      },
      handleFormClick(e: MouseEvent) {
        e.preventDefault();

        formRef.value?.validate((errors) => {
          if (!errors) {
            loadingRef.value = true;
            indexStore
              .postAction("/auth/login", modelRef.value)
              .then(() => message.success("You have successfully logged-in"))
              .catch(() =>
                message.error("Invalid credentials, please try again")
              )
              .finally(() => (loadingRef.value = false));
          } else {
            message.error("Please input your Form");
          }
        });
      },
      loading: loadingRef,
    };
  },
});
</script>
<style scoped>
.n_container {
  padding: 24px;
}
.bg-image {
  background-image: url("../../assets/images/bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
