<template>
  <div class="flex flex-col gap-5">
    <div>
      <h3 class="text-2xl font-semibold">Редактировать ресторан</h3>
      <p>View your team’s trades and transactions.</p>
    </div>
    <div class="w-full h-auto flex justify-center items-center">
      <n-form
        class="border w-full p-6 gap-6 rounded grid grid-cols-2"
        size="large"
        ref="formRef"
        :model="modelRef"
      >
        <n-modal
          v-model:show="showModal"
          preset="card"
          style="width: 600px"
          title="A Cool Picture"
        >
          <img :src="modelRef.logo" style="width: 100%" />
        </n-modal>
        <div class="col-span-1">
          <n-form-item size="large" label="Название ресторана">
            <n-input v-model:value="modelRef.name"></n-input
          ></n-form-item>

          <n-upload
            @preview="handlePreview"
            list-type="image-card"
            multiple
            action="https://www.mocky.io/v2/5e4bafc63100007100d8b70f"
          >
            Все Фото
          </n-upload>
          <n-divider />
          <n-upload
            action="https://www.mocky.io/v2/5e4bafc63100007100d8b70f"
            @preview="handlePreview"
            list-type="image-card"
          >
            Фото главный экран
          </n-upload>
          <n-divider />
          <n-upload
            action="https://www.mocky.io/v2/5e4bafc63100007100d8b70f"
            @preview="handlePreview"
            @change="handleChange"
            list-type="image-card"
          >
            Фото лого
          </n-upload>
          <pre>{{ modelRef.logo }}test</pre>
        </div>
        <div class="col-span-1">
          <n-form-item class="w-full" label="Категория ресторана">
            <n-select
              label-field="name"
              value-field="value"
              v-model:value="modelRef.restaurant_type_id"
              placeholder="Select"
              :options="restaurantTypeData"
            />
          </n-form-item>
          <div class="flex justify-between w-full gap-3">
            <n-form-item class="w-1/2" size="large" label="Лимит доставки От">
              <n-input v-model:value="modelRef.prepare_time_start"></n-input
            ></n-form-item>
            <n-form-item class="w-1/2" size="large" label="Лимит доставки До">
              <n-input v-model:value="modelRef.prepare_time_end"></n-input
            ></n-form-item>
          </div>
          <n-form-item size="large" label="Адрес ресторана">
            <n-input v-model:value="modelRef.address"></n-input
          ></n-form-item>
          <n-form-item size="large" label="Описание ресторана">
            <n-input
              type="textarea"
              v-model:value="modelRef.prepare_time_end"
            ></n-input
          ></n-form-item>
          <n-form-item size="large" label="Доставка">
            <n-switch v-model:value="modelRef.allow_take_it" />
          </n-form-item>
        </div>
        <div class="col-end-3 flex justify-end gap-2">
          <n-button size="large">Отменить</n-button>
          <n-button size="large" class="bg-[#DC6803] text-white"
            >Сохранить изменения</n-button
          >
        </div>
      </n-form>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { defineComponent, ref } from "vue";
import { FormInst, useMessage, useThemeVars } from "naive-ui";
import type { UploadFileInfo } from "naive-ui";
import RestaurantType from "./RestaurantType";
const formRef = ref<FormInst | null>(null);
const showModal = ref(false);

const message = useMessage();

const modelRef = ref<RestaurantType>({
  name: "",
  description: "",
  restaurant_type_id: null,
  address: "",
  prepare_time_start: "",
  prepare_time_end: "",
  images: [],
  allow_take_it: false,
  image: "",
  logo: "",
});

function handlePreview(file: UploadFileInfo) {
  const { url } = file;
  modelRef.value.logo = url as string;
  showModal.value = true;
}
function handleChange(file: UploadFileInfo) {
  const { url } = file;
  modelRef.value.logo = url as string;
}
</script>
