<template>
  <div class="flex flex-col gap-5">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-2xl font-semibold">Категория блюд</h3>
        <p>View your team’s trades and transactions.</p>
      </div>
      <div class="flex gap-2">
        <n-button size="large">
          <template #icon>
            <n-icon>
              <cloud-download-sharp />
            </n-icon>
          </template>
          Download Excel</n-button
        >
        <n-button size="large" class="bg-[#DC6803] text-white">
          <template #icon>
            <n-icon>
              <Add />
            </n-icon>
          </template>
          Добавить</n-button
        >
      </div>
    </div>
    <div class="rounded-lg bg-[#F9FAFB] w-full p-4 flex justify-between">
      <div class="w-1/2">
        <n-input placeholder="Поиск" size="large">
          <template #prefix>
            <n-icon :component="Search" />
          </template>
        </n-input>
      </div>

      <n-button size="large">
        <template #icon>
          <n-icon>
            <Filter />
          </n-icon>
        </template>
        Фильтр</n-button
      >
    </div>
    <n-data-table
      :columns="columns"
      :data="data"
      :loading="loading"
      :pagination="pagination"
      :row-key="rowKey"
      @update:checked-row-keys="handleCheck"
    ></n-data-table>
    <d-modal :showModal="showModal" @close="handleClose">
      <template #content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, quam!
      </template>
    </d-modal>
  </div>
</template>
<script lang="ts" setup>
import { ref, h } from "vue";
import DModal from "../../components/modal/MDelete.vue";
import RowData from "./type";
import { DataTableColumns, DataTableRowKey, NButton, NIcon } from "naive-ui";
import {
  CloudDownloadSharp,
  Add,
  Search,
  Filter,
  Pencil,
  Trash,
} from "@vicons/ionicons5";

// data
const loading = ref(false);
const showModal = ref(false);
const createColumns = (): DataTableColumns<RowData> => [
  {
    type: "selection",
    disabled(row: RowData) {
      return row.name === "Edward King 3";
    },
  },
  {
    title: "Name",
    key: "name",
  },
  {
    title: "Age",
    key: "age",
  },
  {
    title: "Address",
    key: "address",
  },
  {
    title: "Action",
    key: "actions",
    width: 150,
    ellipsis: true,
    render(row) {
      return [
        h(
          NButton,
          {
            strong: true,
            secondary: true,
            circle: true,
            onClick: () => handleEdit(row),
          },
          { default: () => h(NIcon, null, { default: () => h(Pencil) }) }
        ),
        h(
          NButton,
          {
            strong: true,
            secondary: true,
            circle: true,
            onClick: () => handeleDelete(row),
            class: "trash",
          },
          { default: () => h(NIcon, null, { default: () => h(Trash) }) }
        ),
      ];
    },
  },
];

const data = ref(
  Array.from({ length: 12 }).map((_, index) => ({
    name: `Edward King ${index}`,
    age: 32,
    address: `London, Park Lane no. ${index}`,
  }))
);
const checkedRowKeysRef = ref<DataTableRowKey[]>([]);
const columns = ref(createColumns());
const pagination = ref({
  pageSize: 8,
});

// function
const rowKey = (row: RowData) => row.address;
function handleCheck(rowKeys: DataTableRowKey[]) {
  checkedRowKeysRef.value = rowKeys;
}

function handleEdit(rowData: any) {
  showModal.value = true;
}
function handeleDelete(rowData: any) {
  showModal.value = true;
}
function handleClose() {
  showModal.value = false;
}
</script>
<style scoped>
:deep(.trash) {
  margin-left: 10px !important;
}
</style>
