<template>
  <n-modal v-model:show="isModal" :mask-closable="false">
    <n-card
      style="width: 444px"
      :bordered="false"
      size="huge"
      role="dialog"
      aria-modal="true"
    >
      <div class="flex flex-col items-center gap-4">
        <n-avatar size="large" round color="#FEE4E2">
          <n-icon size="large" color="red">
            <trash-outline />
          </n-icon>
        </n-avatar>
        <span class="text-xl">Вы точно хотите удалить?</span>
      </div>
      <template #footer>
        <div class="flex flex-col gap-2">
          <n-button
            color="red"
            class="bg-red text-white"
            @click="$emit('delete')"
            >Удалить</n-button
          >
          <n-button @click="$emit('close')">Отменить</n-button>
        </div>
      </template>
    </n-card>
  </n-modal>
</template>
<script lang="ts" setup>
import { TrashOutline } from "@vicons/ionicons5";
import { ref, watch } from "vue";
const props = defineProps({
  showModal: {
    type: Boolean,
    required: true,
  },
});
const isModal = ref(false);

watch(
  () => props.showModal,
  (modal) => {
    isModal.value = modal;
    console.log(modal, "modal");
  }
);
</script>
