<template>
  <n-dialog-provider transform-origin="center">
    <n-message-provider>
      <RouterView v-slot="{ Component }">
        <transition :name="route.meta.transition || 'layout'" mode="out-in">
          <div :key="route.name">
            <component :is="detectLayout">
              <Component :is="Component" />
            </component>
          </div>
        </transition>
      </RouterView>
    </n-message-provider>
  </n-dialog-provider>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { useThemeVars } from "naive-ui";
import { useRoute } from "vue-router";

import LDefault from "@/layouts/DLayout.vue";
import LMain from "@/layouts/MLayout.vue";

const layouts: { [key: string]: any } = {
  default: LDefault,
  main: LMain,
};

const route: any = useRoute();

const detectLayout = computed(() => {
  return layouts[route.meta.layout || ("default" as string)];
});

const theme = useThemeVars();
theme.value.borderRadius = "6px";
theme.value.primaryColorHover = "#DC6803";
theme.value.primaryColor = "#DC6803";
theme.value.hoverColor = "#93370D";
</script>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-out;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}

// Scale
.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s ease-in-out;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

a,
button {
  cursor: pointer;
}
</style>
