<template>
  <n-layout has-sider>
    <n-layout-sider class="h-screen">
      <div class="bg-[#B54708] p-6" show-trigger>
        <img
          src="../assets/images/inone-dark.png"
          class="h-[32px] w-[80px]"
          alt="inone img"
        />
      </div>
      <div class="flex flex-col px-2 gap-2">
        <router-link
          :class="route.path === item.url ? 'bg-[#93370D]' : ''"
          class="py-2.5 px-3 rounded-lg hover:bg-[#93370D] text-[#FEF0C7]"
          :to="item.url"
          v-for="(item, idx) in sidebarData"
          :key="idx"
          >{{ item.name }}</router-link
        >
      </div>
    </n-layout-sider>
    <n-layout-content class="h-screen p-6">
      <slot :key="route.params"></slot>
    </n-layout-content>
  </n-layout>
</template>
<script lang="ts" setup>
import { useRoute } from "vue-router";
import sidebarData from "./data/sidebarData.json";
const route = useRoute();
</script>
<style>
.n-layout-sider {
  background: #b54708;
}

.n-layout-content {
  background: #ffffff;
}
.n-menu .n-menu-item-content .n-menu-item-content-header a {
  color: #fef0c7;
}
</style>
